<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Calc_u_l8r</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li> <a href="/">Home</a> </li>
        <li> <a href="/about_us">About Us</a> </li>
      </ul>
    </nav>
    <%= yield %>
    <footer>This is a footer</footer>
  </body>
</html>
